<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="friteHeader">
            <h1>FRITE</h1>
            <h3 style="padding-left: 10px;">Fiches Rapides Integrant un Tracé d'Efficacité</h3>
        </div>

        <% if (typeof file !== 'undefined' && file) { %>
        <div class="friteInfos">
            <div>#<%= file.replace(/\.pdf$/, ""); %></div>
        </div>
        <% } %>

        <% if (typeof erreur !== 'undefined' && erreur) { %>
            <p><%= erreur %></p>
        <% } else if (data) { %>
            <table>
                <tr>
                    <th>Gare</th>
                    <th>Horaire</th>
                    <th>Point Kilométrique</th>
                    <th>Vitesse moyenne*</th>
                </tr>
                <% data.forEach(entry => { 
                    if (entry.depart !== null) {%>
                        <tr>
                            <td><b><%= entry.gare %> (Arrivée)</b></td>
                            <td><%= entry.horaire %></td>
                            <td>
                                <% if (entry.pk && entry.pk.length > 0) { %>
                                    <% entry.pk.forEach(p => { %>
                                        <% if (debug_frite) { %>
                                            <div><%= "Ligne " + p.code_ligne + " : " + p.pk %></div>
                                        <% } else { %>
                                            <div><%= p.pk %></div>
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    Non trouvé
                                <% } %>
                            </td>
                            <td class="topAlignment"><%= entry.vitesse !== "-" ? entry.vitesse + " km/h" : "-" %></td>
                        </tr>
                        <tr>
                            <td><%= entry.gare %> (Départ)</td>
                            <td><%= entry.depart %></td>
                            <td>
                                <% if (entry.pk && entry.pk.length > 0) { %>
                                    <% entry.pk.forEach(p => { %>
                                        <% if (debug_frite) { %>
                                            <div><%= "Ligne " + p.code_ligne + " : " + p.pk %></div>
                                        <% } else { %>
                                            <div><%= p.pk %></div>
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    Non trouvé
                                <% } %>
                            </td>
                            <td class="topAlignment">-</td>
                        </tr>
                    <% } else {%>
                        <tr>
                            <td><%= entry.gare %></td>
                            <td><%= entry.horaire %></td>
                            <td>
                                <% if (entry.pk && entry.pk.length > 0) { %>
                                    <% entry.pk.forEach(p => { %>
                                        <% if (debug_frite) { %>
                                            <div><%= "Ligne " + p.code_ligne + " : " + p.pk %></div>
                                        <% } else { %>
                                            <div><%= p.pk %></div>
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    Non trouvé
                                <% } %>
                            </td>
                            <td class="topAlignment"><%= entry.vitesse !== "-" ? entry.vitesse + " km/h" : "-" %></td>
                        </tr>
                    <% }
                }) %>
            </table>
            <p class="prevent" style="text-align: center;"><i>* Les vitesses moyennes sont purement issues de calculs entre les horaires de passages indiqués par votre fiche HOUAT et les point kilométriques et ne sont pas des vitesses à atteindre.<br />Elles peuvent être supérieures aux vitesses maximales selon votre catégorie.<br /><br />Ne dépassez jamais la plus basse des vitesses limites de votre train.</i></p>
        <% } else { %>
            <p>Erreur dans l'analyse du fichier.</p>
        <% } %>

        <%- include('../partials/foot'); %>
    </body>
</html>
